div.block-container.css-91z34k.egzxvld4{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
/*
div.css-1hynsf2.e1tzin5v3{
    background-color: rgb(39, 25, 159)
}
/*class="element-container css-1hynsf2 e1tzin5v3"*/
button.css-1x8cf1d.edgvbvh10{
    background-color: rgb(250,250,250);
    width: 100%;
    border-style: none;
    border-radius: 20px;
    /*height: 250px;*/
}
div.appview-container.css-1wrcr25.egzxvld6{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
}
div.css-1offfwp.e16nr0p34{
    align-items:left;
}